* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html, body {
	 width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
}

.container {
    	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://i.imgur.com/hE1Orpl.jpg")no-repeat;
	background-size: cover;
	background-position: center center;
}


/******************************************************
*******************************************************

HEADER 

*******************************************************
******************************************************/
.header {
  padding: 1.75rem;
	display: flex;
  flex-direction: row;
	justify-content: space-between;
}

.header-logo {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 1px;
   background: linear-gradient(40deg, #c31432 0%, #240b36 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-menu-toggle {
  position: fixed;
  background-color: transparent;
  color: #fff;
  top: 0;
  right: 0;
  z-index: 100000;
}

.header-menu-text{
  text-transform: uppercase;
  top: 3rem;
  right: 5rem;
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
  color: #c31432;
  display: block;
  position: absolute;
}

.header-nav-icon, .header-menu-icon {
  position: absolute;
  top: 2rem;
  color: #fff;
  right: 3rem;
  padding-left: 1.5rem;
  font-size: 2rem;
  transition: all 0.5s ease-in-out 0s;
}



.header-nav {
  display: block;
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 100;
}

.header-nav-content {
  display: flex;
  flex-direction: column;
  color: inherit;
}

.header-nav-links {
  margin-top: 5rem;
  text-decoration: none;
  list-style: none;
  padding: 5px;
}

#nav-link, #nav-link a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  padding: 1.5rem;
  font-size: 1.5rem;
  opacity: 0.8;
}

#nav-link a:hover {
  background-color: rgba(255,255,255,0.8);
  color: #c31432;
}

.header-nav-social, .header-nav-social a{
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
}

.header-nav-social i{
  margin-left: 3rem;
  padding: 15px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease;
}

.header-nav-social i:hover {
  border: 3px solid #fff;
  transform: scale(1.1);
  color: #fff;
}


/******************************************************
*******************************************************

HOME SECTION 

*******************************************************
******************************************************/
.home {
  display: flex;
  flex-wrap: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 5rem;
}

.home-content-main {
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5rem;
  padding-left: 5rem;
  width: 70%;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  font-weight: 400;
    letter-spacing: 0.2rem;
}

h1 {
  margin-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #fff;
}

.home-content-buttons {
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 50px;
  width: auto;
}
.home-content-buttons a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #fff;
  padding: 1rem 2rem 1rem 2rem;
  margin-right: 1rem;
  border: 3px solid #fff;
  cursor: pointer;
  transition: all .2s ease;
}

.home-content-buttons a:hover {
  font-size: 0.9rem;
  border: 3px solid #c31432;
   color: #c31432;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-social {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 15rem;
  right: 5rem;
  list-style: none;
  margin: 0px;
}

.home-social li {
  text-align: center;
}

.home-social i {
  color: #fff;
  display: block;
  border-radius: 50%;
  padding: 10px;
  margin-top: 1.5rem;
  border: 3px solid #fff;
  transition: all 0.2s ease;
  cursor: pointer;

}

.home-social i:hover {
  transform: scale(1.2);
  border: 3px solid #c31432;
   color: #c31432;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-social a {
  display: block;
  font-size: 1rem;
  border-radius: 50%;
  padding-top: 1.25rem;
  text-align: center;
   text-decoration: none;
}


.home-content-scroll {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 120vh;
  bottom: 0;
  text-align: right;
  padding-right: 1rem;
  right: 2rem;  
  border-right: 2px solid #fff;
  height: 250px;
}

.home-content-scroll a {
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: .2rem;
  transition: all .2s ease;
}


.home-content-scroll a:hover, #scroll:hover {
  font-size: 0.8rem;
  font-weight: 700;
   color: #c31432;  
color: -webkit-linear-gradient(to right, #240b36, #c31432); 
color: linear-gradient(to right, #240b36, #c31432);
}



#scroll {
  font-size: 1rem;
  margin-right: 15px;
  margin-bottom: 5rem;
}



/******************************************************
*******************************************************

ABOUT SECTION

*******************************************************
******************************************************/

#icon {
  padding-right: 5rem;
  padding-left: 3rem;
  text-decoration: none;
}

.about {
  display: flex;
  flex-direction: column;
  font-family: "Lora", serif;
  background-color: #c31432;
  background-size: cover;
  /*overflow-x: hidden;*/
  height: 100%;
  width: 100%;
 
}

.about-intro {
  margin-top: 7rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  margin-top: 10px;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 3rem;
}

span {
  border-bottom: 2px solid #666;
  width: 200px;
}

.about-more {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.about-more p {
  margin: 5rem 7rem 5rem 10rem;
  text-align: center;
  letter-spacing: 1.75px;
  line-height: 1.5;
  font-size: 1.4rem;
  color: #111;
  font-weight: 700;
}

span {
  display: inline-block;
  position: relative;
  width: 40%;
  border: 0.8px solid #1f1f1f;
  background-color: #1f1f1f;
  margin-bottom: 4rem;
}

#selfie {
  text-align: center;
  height: 80%;
  width: 20%;
  margin-right: 5rem;
  margin-bottom: 5rem;
  border-radius: 50%; 
  box-shadow: 2px 2px 10px 10px #222;
}

.stack {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10rem 2rem 10rem 2rem;
}


#icon i {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
}



/******************************************************
*******************************************************

EDU SECTION

*******************************************************
******************************************************/

.edu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: auto;
  background-color: #e6e6e6;
}

.edu-header {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 10rem;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-bottom: 5rem;
}

.edu-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c31432;
  text-transform: uppercase;
  margin-bottom: 20px; 
}

.edu-text {
  font-weight: 700;
  color: black;
  font-size: 3rem;
  padding-bottom: 1rem;
}

#edu p {
  font-family: 'Lora', serif;
  margin: 3rem 10rem 3rem 10rem;
  text-align: center;
  letter-spacing: 1.75px;
  line-height: 1.5;
  font-size: 1.4rem;
  color: #111;
  opacity: 0.8;
  font-weight: 700;
}

#edu span {
  display: inline-block;
  position: relative;
  width: 40%;
  border: 0.8px solid #1f1f1f;
  background-color: #1f1f1f;
  margin-bottom: 4rem;
}

/*.certs {
  display: flex;
  justify-content: center;
}

.certs img {
  margin-right: 2rem;
  height: 240px;
  width: auto;
}

#cert {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #111111;
  transition: transform .3s ease;
}

#cert:hover {
  transform: scale(1.5);
} */

#slider-wrapper {
  width: 640px;
  height: 480px;
  margin: 50px auto;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  overflow: visible;
}

#s1 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s2 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s3 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s4 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
  opacity: .50;
}

.inner-wrapper {
  width: 640px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
}

.control {
  display: none;
}

#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%;
}

#Slide4:checked ~ .overflow-wrapper {
  margin-left: -300%;
}

#Slide1:checked + #s1 {
  opacity: 1;
}

#Slide2:checked + #s2 {
  opacity: 1;
}

#Slide3:checked + #s3 {
  opacity: 1;
}

#Slide4:checked + #s4 {
  opacity: 1;
}

.overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide img {
  display: flex;
  height: 100%;
  width: 25%;
  float: left;
}

#c-span {
  align-self: center;
  width: 50%;
  border: 1px solid #999;
  margin-top: 3rem;
}

.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5rem;
}

.courses-content {
  margin-top: 5rem;
}

#c-text {
  color: #555;
  line-height: 2rem;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

#c-img {
  height: auto;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#c-title {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#c-cat {
  font-size: 0.9rem;
  color: #777;
  letter-spacing: 1.2px;
  margin-top: 10px;
}



/******************************************************
*******************************************************

WORKS SECTION

*******************************************************
******************************************************/

.works {
    min-height: 800px;
  font-family: "Montserrat", sans-serif;
}

.intro-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #111111;
  z-index: 100;
}

.works-header {
  margin: 10rem;
  text-align: center;
}

#works-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c31432;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#works-text {
  font-size: 3rem;
  color: white;
  padding-bottom: 2rem;
}

.works-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 500px);
  grid-auto-rows: 1fr;
  align-items: stretch;
  justify-content: center;
  margin-left: 20rem;
  margin-right: 20rem;
  padding-top: 25rem;
  margin-bottom: 5rem;
}

.item-folio {
  display: flex;
  position: relative;
  z-index: 1000;
  transition: all .4s ease;
}

.item-folio img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1000;
}

.overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  padding: 20px;
  background-color: #111111;
  opacity: 0.75;
  transition: all 0.4s ease;
}

.item-folio .overlay {
  visibility: hidden;
  transition: all .4s ease;
}

.item-folio:hover .overlay {
  visibility: visible;
  transform: translate(0, 0);
}

.item-folio:hover {
   transform: scale(1.05);
}

.item-folio__link, .item-folio__info {
  color: white;
  padding: 5px;
}

.item-folio__link {
  font-size: 1.2rem;  
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.4s ease;
}

.item-folio__link i {
  text-align: center;
  padding: 7px;
  font-size: 1rem;
}

.item-folio__link:hover {
  font-size: 1.2rem;
  color: #c31432;
  border: 3px solid #c31432;
}

.item-folio__info{
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  letter-spacing: 1.2px;
  font-size: 0.9rem;
  margin-top: 12rem;
  margin-bottom: 1rem;
  text-align: left;
}

.item-folio__title {
  text-transform: uppercase;
}

.item-folio__cat {
  margin-top: 7px;
  font-size: 0.8rem;
  color: #cdcdcd;
}


/******************************************************
*******************************************************

CONTACT FORM

*******************************************************
******************************************************/

.contact {
  display: flex;
  flex-direction: column; 
  position: relative;
  background-color: #330055;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.87'%3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a0153' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410252' cx='50' cy='100' r='50'/%3E%3Cg fill='%23490350' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2350044e' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357054c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235e064b' cx='50' cy='300' r='50'/%3E%3Cg fill='%23650749' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236d0847' cx='50' cy='400' r='50'/%3E%3Cg fill='%23740945' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%237b0a44' cx='50' cy='500' r='50'/%3E%3Cg fill='%23820b42' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23890c40' cx='50' cy='600' r='50'/%3E%3Cg fill='%23910d3e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23980e3d' cx='50' cy='700' r='50'/%3E%3Cg fill='%239f0f3b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a61039' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ad1137' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b51236' cx='50' cy='900' r='50'/%3E%3Cg fill='%23bc1334' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c31432' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;


/*
background: -webkit-linear-gradient(top left, rgba(0,0,0, 0.9), rgba(36,11,54, 0.8), rgba(195,20,50,0.9)), url("https://i.imgur.com/3vacZxN.jpg") center no-repeat;
background: -o-linear-gradient(top left, rgba(0,0,0, 0.9), rgba(36,11,54, 0.8), rgba(195,20,50,0.9)), url("https://i.imgur.com/3vacZxN.jpg") center no-repeat;
background: linear-gradient(to bottom right, rgba(0,0,0, 0.9), rgba(36,11,54, 0.8), rgba(195,20,50,0.9)), url("https://i.imgur.com/3vacZxN.jpg") center no-repeat;
  background-size: cover; */
}

.contact-header {
  font-family: "Montserrat", sans-serif;
  margin: 10rem 10rem 3rem 10rem;
  text-align: center;
}

#co-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c31432;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#co-text {
  font-size: 3rem;
  color: white;
  padding-bottom: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  line-height: 2;
  height: auto;
  width: 70%;
  background-color: rgba(0,0,0,0.6);
  margin-bottom: 10rem;
}

.contact-form {
  font-family: "Montserrat", sans-serif;
  padding: 5rem;
}

#form-title {
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1px;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

fieldset {
  border: none;
}

input {
  text-decoration: none;
  width: 100%;
}

.form-field {
  outline: none;
  width: 200%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    margin-bottom: .9rem;
    transition: .2s ease;
}

.form-field:hover {
  transform: scale(1.05);
}


#name, #email, #subject, #message {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  font-size: .6rem;
  line-height: 2rem;
  padding-bottom: 0.7rem;
}


textarea, #message {
  width: 100%;
  color: #fff;
  overflow: visible;
}

#form-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  width: 200%;
  height: 60px;
  background-color: #c31432;
  cursor: pointer;
  transition: all .3s ease;
}

#form-btn:hover {
  opacity: 0.9;
  transform: translateY(-2.5%);
  box-shadow: 0 0 15px 0 #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  background-color: rgba(0,0,0,0.3);
}

.contact-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #c31432;
}

.contact-info a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #666;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 5rem;
  transition: all .3s ease;
}

.contact-info a:hover {
  transform: translateY(-2.5%);
  color: #999;
}

.contact-info .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: #666;
  cursor: pointer;
  transition: all .3s ease;
}

.fab:hover{
  transform: scale(1.2);
  color: #999;
}


/**********************************************
MEDIA QUERIES
**********************************************/

/* MOBILE */
@media (max-width: 640px) {
  .header-nav-icon, .header-menu-icon {
  font-size: 3rem;
}

.header-nav {
  width: auto;
  text-align: center;
}

.header-nav-links {
  padding: 2rem;
}

#nav-link, #nav-link a {
  padding: 3rem;
  font-size: 3rem;
}


.header-nav-social, .header-nav-social a{
  text-align: bottom;

}

.header-nav-social i{
  font-size:3rem;
}


.home-content-main {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding-left: 5rem;
  width: auto;
  height: 100%;
}


.home-content-buttons {
  justify-content: center;
}

.home-content-buttons a {
  color: #fff;
  margin-bottom: 2rem;
}


.home-social {
  display: none;
}

.home-content-scroll {
  display: none;
}
#edu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-intro h1 {
  font-size: 2rem;
}

.about-intro {
  margin-top: 5rem;
}

.about-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-more p {
  font-size: 1.2rem;
  margin: 2rem;
}

#selfie {
  display: flex;
  align-self: center;
  height: 80%;
  width: 60%;
  margin: 3rem 3rem 0 3rem;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#icon {
  padding: 2rem;
}

#icon i {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 2rem;
}

#icon h3 {
  font-size: 1.5rem;
}

#edu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edu-text {
  font-size: 2rem;
}


#edu p {
  font-size: 1.2rem;
  margin: 2rem;
}

.edu-header {
  margin-top: 5rem;
}


#slider-wrapper {
  width: 480px;
  height: 320px;
  margin: 3rem;
}

.inner-wrapper {
  width: 480px;
  height: 320px;
}

.contact-info .fab {
  font-size: 1.75rem;
  line-height: 3rem;
  padding-left: 1rem;
}


.intro-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #111111;
  z-index: 100;
}

.works-header {
  padding-top: 5rem;
  text-align: center;
}

#works-title {
  font-size: 1.2rem;
}

#works-text {
  font-size: 2rem;
}

.works-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 3rem 2rem 3rem 2rem;
}

.overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  padding: 20px;
  background-color: #111111;
  opacity: 0.75;
  transition: all 0.4s ease;
}

.item-folio {
  margin: 2rem;
}


.item-folio__info{
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  text-align: left;
}


.contact-header {
  margin: 5rem 2rem 3rem 2rem;
}

#co-title {
  font-size: 0.8rem;
}

#co-text {
  font-size: 2rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80%;
}

.contact-form {
  padding: 2rem;
}

#form-title {
  margin: 2rem;
  text-align: center;
}

input {
  text-decoration: none;
  width: 100%;
}

.form-field {
  cursor: pointer;
  width: 100%;
}


#name, #email, #subject, #message {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  font-size: .8rem;
  line-height: 2rem;
  padding-bottom: 0.7rem;
}


textarea, #message {
  width: 100%;
  color: #fff;
  overflow: visible;
}

#form-btn {
  width: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 2.5rem;
  background-color: rgba(0,0,0,0.3);
}


}



/******************************************************
*******************************************************

FOOTER

*******************************************************
******************************************************/

footer {
  display: flex;
  justify-content: space-between;
    font-family: "Montserrat", sans-serif;
  letter-spacing: 1.2px;
    line-height: 1.7;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    background: #111111;
}

.footer-desc {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  justify-content: center;
  text-align: left;
  margin: 0 3rem 0 3rem;
}

.footer-logo a, #logo{
  font-family: 'Playfair Display SC', serif;
  letter-spacing: 1px;
   background: linear-gradient(40deg, #c31432 0%, #240b36 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease;
}

.footer-logo a:hover, #logo:hover{
  color: white;
  opacity: 0.6;
}

.footer-follow {
display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 0.5px;

  justify-content: center;
  text-align: right;
  margin: 3rem;
}


.footer-links .fab{
  font-size: 1.6rem;
  color: #999;
  margin-top: 1.5rem;
  padding-left: 2rem;
  transition: all .3s ease;
}

.footer-links .fab:hover {
  transform: scale(1.1);
   color: #c31432;  /* fallback for old browsers */
color: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#follow {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: #cdcdcd;
  text-align: right;
  margin-left: 10rem;
  margin-bottom: 1rem;
  line-height: 2.5;
  border-bottom: 2px solid #c31432;
}

